@use "../../variables";

#container-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
    padding: 40px;
    border-radius: 16px;
    background-color: rgba(variables.$myOrange, 0.85);
}

.input{
 
}

.btn{
    background-color: variables.$myWhite;
    color: variables.$myBlack;
    padding: 0 16px;
    margin-top: 24px;
}