@use "../../../variables";

#container_login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
   height: calc(100vh - variables.$headerHeight);
    padding: 40px;
    
    form{
        gap: 16px;
        height: 350px;
        border-radius: 16px;
        background-color: rgba(variables.$myOrange, 0.85);
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        input {
            width: 75%;
        }
    }
}


.btn{
    background-color: variables.$myWhite;
    color: variables.$myBlack;
    padding: 0 16px;
    margin-top: 24px;
}