@use "../../variables";

#EditDisplay {
  height: calc(100vh - variables.$headerHeight);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  padding-top: 80px;
}

#collectionList {
  height: 80vh;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;

  button {
    background-color: variables.$myWhite;
    padding: 8px;
    border-radius: 8px;
    width: 200px;
    box-shadow: 2px 2px 2px variables.$myLightGray;
    
    &.btn.selected {
      color: variables.$myOrange;
    }
    
  }
  
}

#formDisplay {
  height: 80vh;
  width: 60vw;
  border-radius: 16px;
  padding: 16px;
  background-color: variables.$myWhite;
  box-shadow: 5px 5px 10px variables.$myLightGray;
}
