@use "../../variables";

// Détermine le temps de l'animation du Menu Burger
$animationMenuTimer: 0.1s;

// Style du header en mode User
header {
  width: 100%;
  max-width: variables.$maxWidth;
  height: variables.$headerHeight;
  background-color: variables.$myOrange;
  position: sticky;
  z-index: 5;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: variables.$myWhite;
  padding: 0px 40px;
  margin: 0 auto;

  @media (max-width: variables.$maxWidth) {
  }

  @media (max-width: variables.$smallDevice) {
    padding: 0px 16px;
  }

  @media (max-width: variables.$mobileDevice) {
    padding: 0px 8px;
  }

  #logo {
    font-family: "Playpen Sans";
    font-size: 2.5rem;

    @media (max-width: variables.$smallDevice) {
      font-size: 2rem;
    }

    @media (max-width: variables.$mobileDevice) {
      font-size: 1.8rem;
      padding-left: 8px;
    }
  }

  #burger-menu {
    width: variables.$headerHeight;
    height: calc(variables.$headerHeight - 10px);
    display: none;
    justify-content: center;
    align-items: center;

    @media (max-width: variables.$mobileDevice) {
      display: flex;
    }

    .burger-icone {
      height: 29px;
      width: 45px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .burger-line {
        height: 5px;
        width: 100%;
        border-radius: 2px;
        background-color: variables.$myWhite;
      }

      .burger-line:nth-child(1) {
        transform-origin: center;
        animation: firstLineAnimationClose $animationMenuTimer ease-in-out forwards;

        @keyframes firstLineAnimationClose {
          0% {
            transform: translateY(12px) rotate(0deg) scale(0);
          }
          50% {
            transform: translateY(12px) rotate(0deg) scale(1);
          }
          100% {
            transform: translateY(0px) rotate(0deg) scale(1);
          }
        }
      }

      .burger-line:nth-child(2) {
        transform-origin: center;
        animation: secondLineAnimationClose $animationMenuTimer ease-in-out forwards;

        @keyframes secondLineAnimationClose {
          0% {
            transform: translateY(0px) rotate(0deg) scale(0);
          }
          50% {
            transform: translateY(0px) rotate(0deg) scale(1);
          }
          100% {
            transform: translateY(0px) rotate(0deg) scale(1);
          }
        }
      }

      .burger-line:nth-child(3) {
        transform-origin: center;
        animation: thirdLineAnimationClose $animationMenuTimer ease-in-out forwards;

        @keyframes thirdLineAnimationClose {
          0% {
            transform: translateY(-12px) rotate(0deg) scale(0);
          }
          50% {
            transform: translateY(-12px) rotate(0deg) scale(1);
          }
          100% {
            transform: translateY(0px) rotate(0deg) scale(1);
          }
        }
      }

      &.open .burger-line:nth-child(1) {
        transform-origin: center;
        animation: firstLineAnimation $animationMenuTimer ease-in-out forwards;

        @keyframes firstLineAnimation {
          0% {
            transform: translateY(0px) rotate(0deg) scale(1);
          }
          25% {
            transform: translateY(12px) rotate(0deg) scale(1);
          }
          50% {
            transform: translateY(12px) rotate(0deg) scale(0);
          }
          75% {
            transform: translateY(12px) rotate(45deg) scale(0);
          }
          100% {
            transform: translateY(12px) rotate(45deg) scale(1);
          }
        }
      }

      &.open .burger-line:nth-child(2) {
        transform-origin: center;
        animation: secondeLineAnimation $animationMenuTimer ease-in-out forwards;

        @keyframes secondeLineAnimation {
          0% {
            transform: translateY(0px) rotate(0deg) scale(1);
          }
          25%,
          100% {
            transform: translateY(0px) rotate(0deg) scale(0);
          }
        }
      }

      &.open .burger-line:nth-child(3) {
        transform-origin: center;
        animation: thirdLineAnimation $animationMenuTimer ease-in-out forwards;

        @keyframes thirdLineAnimation {
          0% {
            transform: translateY(0px) rotate(0deg) scale(1);
          }
          25% {
            transform: translateY(-12px) rotate(0deg) scale(1);
          }
          50% {
            transform: translateY(-12px) rotate(0deg) scale(0);
          }
          75% {
            transform: translateY(-12px) rotate(-45deg) scale(0);
          }
          100% {
            transform: translateY(-12px) rotate(-45deg) scale(1);
          }
        }
      }
    }
  }

  nav {
    display: flex;
    z-index: 2;

    @media (max-width: variables.$mobileDevice) {
      display: none;
      position: absolute;
      padding-top: 3rem;
      top: variables.$headerHeight;
      left: 0;
      padding-bottom: 2rem;
      width: 100%;
      background-color: variables.$myOrange;
      font-size: 1.5rem;
    }
    ul {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 24px;

      @media (max-width: variables.$smallDevice) {
        gap: 16px;
      }

      @media (max-width: variables.$mobileDevice) {
        gap: 32px;
        flex-direction: column;
      }

      li {
        .icone {
          color: variables.$myWhite;

          @media (max-width: variables.$smallDevice) {
          }

          @media (max-width: variables.$mobileDevice) {
            width: 50px;
          }
        }
        a {
          display: flex;
          gap: 24px;
          width: 100%;
        }

        p {
          display: none;
          color: variables.$myWhite;

          @media (max-width: variables.$mobileDevice) {
            display: flex;
          }
        }

        @media (max-width: variables.$mobileDevice) {
          display: flex;
          align-items: center;
          gap: 24px;
          width: 100%;
          justify-content: flex-start;
          padding-left: 16px;
        }
      }
    }
  }
}

// Style appliqué au header en mode Admin
header.adminStyle {
  width: 100%;
  height: variables.$headerHeight;
  background-color: variables.$myWhite;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 72px;
  color: variables.$myOrange;
  border-bottom: 10px solid variables.$myOrange;
  padding: 0px 32px;
  margin: 0px auto;

  #logo {
    font-size: 2em;
    font-weight: bold;
    width: 100%;
    text-align: start;

    @media (max-width: variables.$smallDevice) {
      font-size: 1.8rem;
    }

    @media (max-width: variables.$mobileDevice) {
      font-size: 1.3rem;
    }
  }

  #burger-menu .burger-icon .burger-line {
    background-color: variables.$myOrange;
  }

  button {
    height: 60%;
    width: 120px;
    background-color: variables.$myWhite;
    border-radius: 10px;
    color: variables.$myOrange;
  }

  ul {
    display: flex;
    gap: 16px;
    .icone {
      color: variables.$myOrange;
    }
  }
}
