@use "../../../../variables";

#titreAccrocheForm {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  
  button{
      padding-top: 32px
  }
}


textarea {
    height: 200px;
}
