@use "../../../../variables";

#liste_projetsFavoris {
  background-color: variables.$myWhite;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: variables.$gap_vignette_mobile;
  padding-bottom: 300px;
  padding-bottom: variables.$padding_bottom_Section;
  
  .plusDeProjets{
    text-decoration: underline;
    font-size: 1.5rem;
    font-weight: bold;
  }
}