@use "../../variables";

header {
    width: 100%;
    height: 80px;
    background-color: variables.$myWhite;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 72px;
    color: variables.$myOrange;
    border-bottom: 10px solid variables.$myOrange;

    h1 {
        font-size: 2em;
        font-weight: bold;
    }

    button {
        height: 60%;
        width: 120px;
        background-color: variables.$myWhite;
        border-radius: 10px;
        color: variables.$myOrange;
    }
}

.btn{
    box-shadow: -5px 5px 5px variables.$myLightGray;
}