@use "../../../variables";

#Contact {
    width: 100%;
    height: calc(100vh - variables.$footerHeight - variables.$headerHeight);
    max-height: variables.$maxHeightPC;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
    padding: 32px 0px;

    color: variables.$myBlack;

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 400px;
        height: 100%;
        width: 90%;
      

        h2 {
            color: variables.$myBlack;
        }

        input {
            background-color: white;
            width: 100%;
        }

        textarea {
            background-color: white;
            width: 100%;
            height: 80%;
        }

    }
    button {
        background-color: rgba(variables.$myOrange, 0.8);
        color: variables.$myWhite;
    }
}
