@use "../../../variables";
$variableAnimation: 60%;

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    variables.$myOrange 0%,
    variables.$myOrange variables.$headerHeight,
    variables.$myWhite $variableAnimation
  );
  gap: 32px;
  height: 100vh;
  width: 100vw;
  max-width: variables.$maxWidth;
  
  @media (max-width: variables.$smallDevice) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .containerImage{
    width: 45%;

    @media(max-width: variables.$smallDevice){
      width: 75%;
    }
    img {
      width: 100%;
    }
  }


  #accroche {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    gap: 16px;

    @media(max-width: variables.$smallDevice){
      width: 100%;
      gap: 0;
    }

    h1 {
      font-size: 2.3rem;

      @media (max-width: variables.$smallDevice) {
        font-size: 1.9rem;
      }
    }

    .texte {
      @media (max-width: variables.$smallDevice) {
        display: none;
      }
    }

    .alerte {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: variables.$myOrange;
      gap: 8px;

      @media (max-width: variables.$smallDevice) {
        font-size: 0.9rem;
      }

      .animation{
        height: 16px;
        width: 16px;
        background-color: variables.$myOrange;
        border-radius: 8px;
        animation: alert 2s ease-in-out infinite;
      }

      @keyframes alert {
        0% {
            transform: scale(0);
            opacity: 1;
        }
        100% {
            transform: scale(1);
            opacity: 0;
        }
      }
    }

    .reseaux-sociaux {
      width: 100%;
      padding-top: 40px;
      display: flex;
      gap: 16px;
      justify-content: center;
    }
  }
}
