/* $myOrange: #CB6042; */
/* --myOrange: hsl(19, 56%, 40%); */
/* --myOrange: #E9967A; */
$myOrange: #b7410e;
$myWhite: #f5f5f5;
$myGray: #d9d9d9;
$myLightGray: #CCCCCC;
$myYellow: #eec584;
$myIvoiry: #faebd7;
// variables qui concernent la partie cv
$headerHeight: 80px;

