:root {
    --myOrange: #CB6042;
    --myWhite: #F5F5F5;
    --myGray: #D9D9D9;
    --myYellow: #EEC584;
}

* {
    margin: 0;
    padding: 0:
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
   
}