@use "./variables";

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: variables.$myWhite;

  input {
    padding-left: 8px;
  }

  textArea {
    padding: 8px;
    white-space: pre-wrap;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    padding-top: variables.$headerHeight;
  }
}
