@use "../../../../../variables";

#langContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
}

#langForm {
  height: 90%;
  width: 47%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  button {
    box-shadow: 0px 1px 2px variables.$myLightGray;
  }
}

#langList {
  height: 90%;
  width: 47%;
  padding: 16px;
  border-radius: 16px;
  background-color: white;
  color: black;
}
